<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classon</title>
    <link rel="stylesheet" href="template.css">

  </head>

  <body>
    <img src="./images/bg-img.png" alt="">
    <div class="container">
        <div class="container1">

            <span>classon</span>

            <div class="nav-icon">
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-1.svg" alt=""></a>
                <figcaption>Home</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-2.svg" alt=""></a>
                <figcaption>Messages</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-3.svg" alt=""></a>
                <figcaption>User</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-4.svg" alt=""></a>
                <figcaption>Library</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-5.svg" alt=""></a>
                <figcaption>Subscription</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="./images/nav-icon/Frame-6.svg" alt=""></a>
                <figcaption>Settings</figcaption>
            </figure>
            </div>
        </div>

        <div class="container2">
            
        </div>
    </div>
  </body>
</html>