* {
    margin: 0;
    padding: 0;
}

/* the body css starts here */
body {
    height: 1052px;
    /* width: 2370px; */
    /* left: -666px; */
    /* top: -15px; */
    border-radius: 0px;
    background-image: url(./images/Rectangle-1.png), url(./images/DESKTOP-1.png);
    background-color: white; /* incase the image is not availble */
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.container img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.sign-up button, .sign-in button {
    background-color: #0012B4;
    border-radius: 20px;
    padding: 26px;
    border-color: transparent;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}

.sign-in button {
    margin-top: 50px;
    background-color: transparent;
}

.sign-up a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding: 30px;
}

.sign-in a {
    text-decoration: none;
    color: #284AB8;
    font-size: 40px;
    font-weight: 400;
    padding: 30px;
}

.sign-in button:hover {
    border-width: 2px;
    border-color: #596486;
    color: #596486;
}


.sitting img{
    position: absolute;
    left: 1.39%;
    top: 135%;
}

.lying-2 img {
    position: absolute;
    left: 12.5%;
    top: 145%;
}

.toy img {
    position: absolute;
    left: 35%;
    top: 144%;
}

.kneeling img {
    position: absolute;
    left: 45%;
    top: 140%;
}

.superman img {
    position: absolute;
    left: 65%;
    top: 119%;
}

.lying img {
    position: absolute;
    left: 70%;
    top: 158%;
}

.standing img {
    position: absolute;
    left: 85%;
    top: 105%;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}