* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figcaption {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: white;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #284ab8;
    width: 10%;
    overflow: hidden;
    /* clear: both; */
    float: left;
    height: 1100px;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}

.container1 > span {
    margin-top: 100px;
    text-transform: uppercase;
    color: #284ab8;
    text-align: center;
}

.container1 > .nav-icon > :nth-child(1) {
    margin-top: 30px;
}

.container1 > .nav-icon > figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    transition: width 10s;
}

.container1 >  .nav-icon > figure > figcaption {
    font-size: 16px;
    color: #284ab8;
}

.container > .container1 > .nav-icon > figure > a > img {
    transition: width 10s;
}

.container > .container1 > .nav-icon > figure > a > img:hover {
    width: 110%;
    
}

.container2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center; 
    /* border: 1px solid black; */
    width: 50%;
    padding: 30px;
    margin: 20px;
    clear: both;
}

.container2 > .class-sect {
    /* border: 1px solid black; */
    padding: 50px;
    /* margin: 20px; */
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.container2 > .class-sect > span {
    padding: 15px;
    /* font-family: 'Commissioner'; */
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 12px;
}

.container2 > .class-sect > span > a {
    color: black;
}

.container2 > .class-sect > span > a:hover {
    font-size: 21px;
    font-weight: 500;
    color: #284ab8;
}

.container2 > .subject-tab {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: -10px;
    border-radius: 8px;
    /* padding: 10px; */
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
}

.container2 > .subject-tab > figure {
    padding: 10px;
}

.container2 > .subject-tab > figure > figcaption {
    padding-top: 10px;
    color: #284ab8;
    font-size: 20px;
    font-weight: 400;
}

.container2 > .subject-tab > figure:hover {
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.container2 > .test-exam-tab {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: -25px;
    color: #284ab8;
}

/* .container2 > .test-exam-tab > figure {
    padding: 5px 0px 0px 20px;
} */

.container2 > .test-exam-tab > figure > img {
    padding: 15px;
}

.container2 > .test-exam-tab > figure > figcaption {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.container2 > span {
    font-weight: 400;
    font-size: 24px;
    margin-top: 40px;
}

.container2 > .report-tab {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: -25px;
    color: black;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
}

.container2 > .report-tab > figure {
    padding: 10px;
}

.container2 > .report-tab > figure > figcaption {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    border: 1px solid black;
    width: 35%;
    height: 1100px;
}

.container3 > .top-nav {
    border: 1px solid transparent;
    padding: 30px;
    margin-bottom: 350px;
    display: flex;
    justify-content: space-between;
}

.container3 > .top-nav > span:nth-child(1) {
    font-weight: 400;
    font-size: 24px;
    color: #284ab8;
    margin-left: 100px;
}

.container3 > .top-nav > .edit-btn > a {
    font-weight: 400;
    font-size: 16px;
    background-color: #284ab8;
    color: white;
    border-radius: 8px;
    padding: 17px;
}

.container3 > .profile-head > img {
    position: absolute;
    bottom: 65%;
    right: 150px;
}