* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/BG-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 10rem;
   
}
.container-1 img {
    padding: 0.8rem 0;
}

.container-1 img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.signup {
    color: white;
    margin-top: 8rem;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    width: 500px;
}
.signup p a {
    text-decoration: none;
    color: white;
}

em {
    font-weight: 600;
    font-style: normal;
}

.signup p a:hover {
    color: #284AB8;
    transition: all .35s ease;
}

.container-2 img {
    padding-bottom: 3rem;
    padding-right: 2.5rem;
}

span {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}

.btn a {
    display: block;
    margin: 0 auto;
    /* width: fit-content; */
    /* height: 50px; */
    /* line-height: 46px; */
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-size: 40px;
    /* font-family: arial; */
    /* position: relative; */
    /* overflow: hidden; */
    transition: all .35s ease;
    padding: 20px;
    border: 3px solid #284ab8;
    color: #284AB8;
    background-color: white;
    margin-top: 40px;
}

.btn a:before,
.btn a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: all .35s ease;
}
  
.btn a:before {
    opacity: .5;
}
  
.btn a:after {
    transition-delay: .2s;
}

.btn a:hover {
    border: 3px solid #284ab8;
    color: white;
    background-color: #284ab8;
    box-shadow:-300px 0 0 0 #284ab8 inset;
}
  
.btn a:hover:before,
.btn a:hover:after {
    top: 0;
}

.existing_acc a { 
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    padding: 60px;
    top: 80;
}

